.noUi-target {
                background: #e2e8f0; 
                border-radius: 999px;
                border: none;
                box-shadow: none;
                height: 8px; /* Ajusta el grosor de la barra */
                }

                .noUi-connect {
                background: #3b82f6; /* Color de la selección (puedes usar colores de FlyonUI) */
                }

                .noUi-handle {
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.3);
                width: 18px !important;
                height: 18px !important;
                right: -9px !important; /* Centra el botón sobre la línea */
                top: -6px !important;
                }

                /* Quita las rayitas decorativas que trae noUiSlider por defecto si no te gustan */
                .noUi-handle:before,
                .noUi-handle:after {
                display: none;
                }