/* @layer components { */
.scrollable {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease, opacity 0.3s ease;
}

/* WebKit (Chrome, Edge, Safari) */
.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

/* fondo de la máscara: igual al fondo del contenedor (ajusta) */

/* al hover del contenedor padre quitamos la máscara (aparece la scrollbar) */
.relative:hover .scroll-mask {
    opacity: 0;
}


.scrollable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
    transition: background 200ms;
}

.relative:hover .scrollable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
}

.relative:hover .scrollable {
    scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
}

