.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}
/*  ------------------------------- */
.slider-round {
    /* height: 10px; */
    height: 8px;
    /* height: 6px; */
    border: none;
}

/* #slider-round .noUi-target {
    border: none;
    box-shadow: none;
    background: none;
    border-style: none;
} */
.slider-round .noUi-base {
    /* height: 10px; */
    /* border-radius: 5px; */
    /* height: 6px; */
    /* height: 8px; */
    height: 7px;
    border-radius: 4px;
    border-style: none;
    background: #e5e7eb;
}

.slider-round .noUi-connect {
    /* background: black; */
    background: #76717F;
}

.slider-round .noUi-handle {
    height: 16px;
    width: 16px;
    top: -5px;
    right: -8px; /* half the width */

    border-radius: 9px;
    border-style: solid;
    border-width: 3px;
    /* border-color: #794DFF; */
    border-color: black;
    /* border-color: #76717F; */
}
.slider-round .noUi-handle-lower .noUi-handle-touch_area {
    display: none;
}

.slider-round .noUi-tooltip {
    border-radius: 100%;
    font-size: 0.7rem;
    padding: 4px;
}
.slider-round .noUi-pips {
    font-size: 0.8rem;
    align-items: center;
    justify-items: center;
}