@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(50%); }
}

.animate-text {
    animation: move 10s linear infinite; /* Ajusta la duración según sea necesario */
}